# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.CoffeesServerDB.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Hello\source\repos\CoffeesServerDB\.idea\.idea.CoffeesServerDB\.idea/dataSources/
/dataSources.local.xml
